{% extends "default.html" %}

{% block body %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col col-md-4">
            <form action="/upload/" method="POST" enctype="multipart/form-data">
                <fieldset>
                    {% csrf_token %}
                    <label for="file" class="form-label mb-2">Upload file</label>
                    <input type="file" name="file" id="file" class="form-control mb-3" />
                    <button class="btn btn-primary float-end" type="submit">Save</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
